<form (ngSubmit)="onSubmit()" [formGroup]="form" ngNativeValidate>
  <label for="text">Text: </label><input id="text" minlength="3" type="text" formControlName="text" />
  <label for="email">E-mail: </label><input id="email" type="email" formControlName="email" />
  <label for="number">Number: </label><input id="number" type="number" formControlName="number" required/>
  <button type="submit">Submit</button>
  <button type="reset">Reset</button>
</form>
isValid: {{form.valid}} <br> {{model | json}} {{form.value | json}}
